## Exercici 1

In [8]:
import numpy as np
import pandas as pd
filepath = "https://raw.githubusercontent.com/leobioinf0/Supervitat_Regressio/main/DelayedFlights25mb.csv"
airlineData = pd.read_csv(filepath, index_col=0)
airlineData

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,5,13,2,1130.0,1115,1419.0,1343,AA,283,...,6.0,15.0,0,N,0,15.0,0.0,21.0,0.0,0.0
1,2008,5,8,4,1646.0,1640,1748.0,1730,WN,2871,...,3.0,25.0,0,N,0,0.0,0.0,12.0,0.0,6.0
2,2008,12,25,4,1619.0,1555,1732.0,1705,WN,1857,...,5.0,11.0,0,N,0,0.0,0.0,3.0,0.0,24.0
3,2008,3,20,4,1351.0,1345,1600.0,1535,US,953,...,4.0,26.0,0,N,0,6.0,0.0,19.0,0.0,0.0
4,2008,2,19,2,1950.0,1935,2102.0,2050,MQ,4445,...,11.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203355,2008,7,21,1,1951.0,1935,2329.0,2228,FL,29,...,6.0,25.0,0,N,0,0.0,0.0,45.0,0.0,16.0
203356,2008,7,9,3,1009.0,1000,1140.0,1123,DL,1639,...,4.0,36.0,0,N,0,9.0,0.0,8.0,0.0,0.0
203357,2008,1,10,4,1820.0,1814,1950.0,1938,OO,5437,...,5.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
203358,2008,5,23,5,1541.0,1525,1646.0,1625,WN,28,...,3.0,13.0,0,N,0,3.0,0.0,5.0,0.0,13.0
203359,2008,10,10,5,1749.0,1735,1856.0,1840,MQ,3353,...,7.0,9.0,0,N,0,14.0,0.0,2.0,0.0,0.0

In [67]:
airlineData.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [178]:
airlineData.shape

(130952, 32)

In [62]:
airlineData.head() #tidy

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,5,13,2,1130.0,1115,1419.0,1343,AA,283,...,6.0,15.0,0,N,0,15.0,0.0,21.0,0.0,0.0
1,2008,5,8,4,1646.0,1640,1748.0,1730,WN,2871,...,3.0,25.0,0,N,0,0.0,0.0,12.0,0.0,6.0
2,2008,12,25,4,1619.0,1555,1732.0,1705,WN,1857,...,5.0,11.0,0,N,0,0.0,0.0,3.0,0.0,24.0
3,2008,3,20,4,1351.0,1345,1600.0,1535,US,953,...,4.0,26.0,0,N,0,6.0,0.0,19.0,0.0,0.0
4,2008,2,19,2,1950.0,1935,2102.0,2050,MQ,4445,...,11.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [57]:
airlineData.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,203360.0,203360.000000,203360.000000,203360.000000,203360.000000,203360.000000,202613.000000,203360.000000,203360.000000,202480.000000,...,203360.000000,202613.000000,203317.000000,203360.000000,203360.000000,130952.000000,130952.000000,130952.000000,130952.000000,130952.000000
mean,2008.0,6.100983,15.740868,3.982415,1517.889580,1467.497605,1608.178172,1632.515450,2191.290465,133.434329,...,767.265101,6.806770,18.217847,0.000290,0.004037,19.158027,3.778102,14.864324,0.089277,25.313909
std,0.0,3.482422,8.770308,1.996305,451.833194,426.064343,549.514338,466.758026,1948.591921,72.117377,...,575.898821,5.281638,14.389049,0.017031,0.063411,44.067153,21.528387,33.963409,1.825905,41.951153
min,2008.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,15.000000,...,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,3.000000,8.000000,2.000000,1202.000000,1131.000000,1314.000000,1323.000000,613.000000,80.000000,...,339.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,6.000000,16.000000,4.000000,1545.000000,1510.000000,1715.000000,1705.000000,1545.000000,116.000000,...,607.000000,6.000000,14.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,8.000000
75%,2008.0,9.000000,23.000000,6.000000,1901.000000,1819.000000,2030.000000,2014.000000,3446.000000,165.000000,...,999.000000,8.000000,21.000000,0.000000,0.000000,21.000000,0.000000,14.000000,0.000000,33.000000
max,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.000000,9740.000000,702.000000,...,4962.000000,186.000000,356.000000,1.000000,1.000000,1707.000000,756.000000,1357.000000,178.000000,994.000000

## Exercici 2

Resumeix estadÃ­sticament les columnes dâ€™interÃ¨s

In [56]:
airlineData[["TaxiIn", "TaxiOut"]].describe()

              TaxiIn        TaxiOut
count  202613.000000  203317.000000
mean        6.806770      18.217847
std         5.281638      14.389049
min         0.000000       0.000000
25%         4.000000      10.000000
50%         6.000000      14.000000
75%         8.000000      21.000000
max       186.000000     356.000000

Troba quantes dades faltants hi ha per columna (i elimina'ls)

In [83]:
airlineData.isnull().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                747
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      880
CRSElapsedTime          19
AirTime                880
ArrDelay               880
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 747
TaxiOut                 43
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         72408
WeatherDelay         72408
NASDelay             72408
SecurityDelay        72408
LateAircraftDelay    72408
dtype: int64

In [14]:
airlineData.dropna(inplace=True)
pd.DataFrame(airlineData.isnull().sum()).T.rename(index={0:'null values'})

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,AvgSpeed,TotalDelay,LateArrival,LateArrival1H
null values,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [12]:
airlineData["AvgSpeed"] = round(60*airlineData["Distance"]/airlineData["AirTime"]) 

airlineData["TotalDelay"] = airlineData["CarrierDelay"] + airlineData["WeatherDelay"] + airlineData["NASDelay"] + airlineData["SecurityDelay"] + airlineData["LateAircraftDelay"]

airlineData["CRSArrTime"] = airlineData["CRSArrTime"].astype(int)
airlineData["LateArrival"] =  np.where(airlineData["CRSArrTime"] < airlineData["ArrTime"], True, False)

airlineData["LateArrival1H"] = np.where(airlineData["TotalDelay"] >= 60 , True, False)

print("Dataframe after adding new columns:")
airlineData.head()

Dataframe after adding new columns:

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,AvgSpeed,TotalDelay,LateArrival,LateArrival1H
0,2008,5,13,2,1130.0,1115,1419.0,1343,AA,283,...,0,15.0,0.0,21.0,0.0,0.0,428.0,36.0,True,False
1,2008,5,8,4,1646.0,1640,1748.0,1730,WN,2871,...,0,0.0,0.0,12.0,0.0,6.0,339.0,18.0,True,False
2,2008,12,25,4,1619.0,1555,1732.0,1705,WN,1857,...,0,0.0,0.0,3.0,0.0,24.0,336.0,27.0,True,False
3,2008,3,20,4,1351.0,1345,1600.0,1535,US,953,...,0,6.0,0.0,19.0,0.0,0.0,272.0,25.0,True,False
4,2008,2,19,2,1950.0,1935,2102.0,2050,MQ,4445,...,0,NaN,NaN,NaN,NaN,NaN,334.0,NaN,True,False

Taula de les aerolÃ­nies amb mÃ©s endarreriments acumulats

In [182]:
airlineData["UniqueCarrier"].unique()

array(['AA', 'WN', 'US', 'NW', 'B6', 'DL', 'EV', 'MQ', 'UA', 'XE', 'YV',
       'OO', '9E', 'CO', 'OH', 'FL', 'AS', 'F9', 'HA', 'AQ'], dtype=object)

In [183]:
airlineData["UniqueCarrier"].nunique()

20

In [179]:
TotalDelayBYAirline= airlineData.groupby("UniqueCarrier")["TotalDelay"].sum()
TotalDelayBYAirline =TotalDelayBYAirline.sort_values(ascending=False)
TotalDelayBYAirline.head(5)

UniqueCarrier
WN    1121587.0
AA     907391.0
UA     708542.0
MQ     638876.0
OO     617467.0
Name: TotalDelay, dtype: float64

Quins sÃ³n els vols mÃ©s llargs?

In [4]:
AirTimeSorted =airlineData.sort_values(by = "AirTime", ascending=False)
AirTimeSorted[["FlightNum", "UniqueCarrier", "AirTime"]].head(5)

        FlightNum UniqueCarrier  AirTime
98670          15            CO    635.0
142357         15            CO    632.0
169358         15            CO    629.0
99599          15            CO    627.0
198446         15            CO    623.0

I els vols mÃ©s endarrerits?

In [13]:
TotalDelaySorted =airlineData.sort_values(by = "TotalDelay", ascending=False)
TotalDelaySorted[["FlightNum", "UniqueCarrier", "TotalDelay"]].head(5)

        FlightNum UniqueCarrier  TotalDelay
184822       3538            MQ      1707.0
65814        1472            NW      1542.0
102289       1743            NW      1490.0
80579         624            NW      1359.0
175592       1274            AA      1357.0

In [15]:
airlineData.to_csv("./DelayedFlightsUpdated.csv")